@charset "utf-8";

@import '../../node_modules/bulma/bulma';

body {
  #main-section {
    #box-view {
      display: flex;
      flex-direction: column;
      align-items: center;

      .p-dropdown-trigger {
        padding-left: 5px;
      }

      .boxHeader {
        //display: flex;
        //align-items: center;
        //justify-content: space-between;

        .p-button {
          text-align: right;
          align-self: flex-end;
        }

        .button-centered-right :deep(.p-button) {
          flex: 1 1 auto;
          text-align: right;
        }
        .button-centered-right :deep(.p-button) {
          flex: 1 1 auto;
          text-align: left;
        }
      }

      .pokemonBox {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;

        .boxRow {
          display: flex;

          .boxCell {
            display: flex;
            justify-content: center;
            border-radius: 10px;

            background: rgba(255, 255, 255, 0.5);
            color: #17161d;
            padding: 0.1em;
            margin: 0.25em;

            min-width: 5em;
            min-height: 5em;
            max-width: 5em;
            max-height: 5em;

            position: relative;
            top: 0;
            left: 0;
          }

          .boxCell img {
            display: flex;
            justify-self: center;
            align-self: center;
            height: 4.5em;
            max-width: 4.5em;
            width: auto;
            object-fit: contain;
          }

          .boxImage {
            position: relative;
            top: 0;
            left: 0;
            opacity: 0.8;
          }

          .boxImage:hover {
            opacity: 1;
            zoom: 110%;
          }
        }
      }

      .no-outline {
        outline: none;
      }
    }
  }
}
