@charset "utf-8";

@import '../../node_modules/bulma/bulma';

html,
body,
body #app-mount,
body #app {
  height: 100%;
  background-color: var(--background);
}

body {
  #app {
    height: auto;
    min-height: 100%;
    color: var(--text);
    transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;

    a {
      color: var(--link);
      &:hover {
        color: var(--link-hover);
      }
    }
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 12px;
  }

  [v-cloak] {
    display: none;
  }

  #customheader {
    .custom-title {
      display: inline-block;
      color: var(--text-title);
      padding: 4px 0 0 82px;

      &.no-logo {
        padding-left: 0;
      }
    }

    .custom-subtitle {
      display: inline-block;
      color: var(--text-title);
      padding: 0 0 6px 82px;
    }

    .navbar {
      background-color: var(--navbar-background);

      a {
        color: var(--text-navbar);
        padding: 8px 12px;
        &:hover,
        &:focus {
          color: var(--text-navbar);
          background-color: var(--navbar-hover);
        }
      }
      .navbar-menu {
        background-color: inherit;
      }
    }
    .navbar-end {
      text-align: right;
    }
  }

  #main-section {
    padding: 10px 0 0 0;

    #home-view {
      padding: 20px 20px 20px 20px;

      .homeDivs {
        display: inline-block;
      }

      .textDiv {
        padding-left: 50px;
      }
      
      @media screen and (min-width:1300px) {
        img {
          width: 500px;
          vertical-align: middle;
          border: 10px solid var(--navbar-background);
        }
      }
      
    }

    #detail-view {
      a {
        text-decoration: underline;
      }

      .eventData {
        display: inline-block
      }

      // Base Size Elements - 1280px Image
      @media screen and (min-width:1300px) {
        .pokemonView {
          position: relative;
          margin: auto;
          width: 1280px;
          height: 628px;
        }

        // Header Bar Info
        h1 {
          font-size: 32px;
          color: #5D6955;
          text-align: center;
        }

        // Main Info
        h2 {
          font-size: 21px;
          font-weight: 500;
          color: #F1F9F9;
          text-align: center;
        }

        // Nature, Ability and Detail Headers
        h3 {
          font-size: 20px;
          font-weight: bold;
          color: #5E655E;
        }

        // IV Information
        h4 {
          font-size: 26px;
          color: #715F5F;
          text-align: center;
          text-shadow: 0 0 5px #FFF, 0 0 5px #FFF; 
        }

        // Detail Body
        h5 {
          font-size: 15px;
          color: #5E655E;
        }

        // Box Info
        h6 {
          font-size: 14px;
          font-weight: bold;
          color: #647ae4;
          text-align: right;
        }

        // Reddit Detail
        p {
          font-size: 8px;
          color: #F1F9F9;
          text-align: center;
          vertical-align: middle;
          display: table-cell;
        }

        .eventData {
          font-size: 20px;
          font-weight: bold;
        }

        .tradeHistoryData {
          display: table-row;
          font-size: 15px;
          color: #5E655E;
          &:hover {
            color: var(--link-hover);
          }
        }

        .prevContainer {
          position: absolute;
          left: 60px;
          top: 5px;
          width: 130px;

          img {
            width: 45px;
            height: 45px;
          }
        }

        .ballContainer {
          position: absolute;
          left: 240px;
          top: 5px;
          width: 45px;
          height: 45px;
        }

        .headNameContainer {
          position: absolute;
          left: 290px;
          top: 5px;
          width: 420px;
          height: 45px;
        }

        .levelContainer {
          position: absolute;
          left: 730px;
          top: 5px;
          width: 100px;
          height: 45px;
        }

        .isGigContainer {
          position: absolute;
          right: 290px;
          top: 10px;
          width: 40px;
          height: 40px;
        }

        .isShinyContainer {
          position: absolute;
          right: 240px;
          top: 10px;
          width: 40px;
          height: 40px;
        }

        .nextContainer {
          position: absolute;
          right: 60px;
          top: 5px;
          width: 130px;
          height: 50px;

          img {
            position: absolute;
            right: 0px;
            width: 45px;
            height: 45px;
          }
        }

        .eventContainer {
          position: absolute;
          left: 280px;
          top: 65px;
          width: 800px;
        }

        .hpContainer {
          position: absolute;
          left: 242px;
          top: 122px;
          width: 30px;
        }
        .sAContainer {
          position: absolute;
          left: 80px;
          top: 210px;
          width: 30px;
        }
        .atContainer {
          position: absolute;
          left: 405px;
          top: 210px;
          width: 30px;
        }
        .sDContainer {
          position: absolute;
          left: 80px;
          top: 365px;
          width: 30px;
        }
        .deContainer {
          position: absolute;
          left: 405px;
          top: 365px;
          width: 30px;

        }
        .spContainer {
          position: absolute;
          left: 242px;
          top: 400px;
          width: 30px;
        }

        .dexContainer {
          position: absolute;
          left: 575px;
          top: 117px;
          width: 60px;
        }

        .nameContainer {
          position: absolute;
          left: 635px;
          top: 117px;
          width: 180px;
        }

        .typeContainer {
          position: absolute;
          left: 815px;
          top: 117px;
          width: 60px;
          height: 32px;

          .typeIterator {
            display: inline-block;
            width: 30px;
            align-content: center;

            .typeImg {
              width: auto;
              height: 28px;
              max-width: 28px;
            }
          }
        }

        .spriteContainer {
          position: absolute;
          left: 910px;
          bottom: 220px;
          width: 320px;
          height: 320px;

          .spriteImg {
            background-size: contain;
            background-position: center;
            width: 100%;
            height: 100%;
          }
        }

        .redditContainer {
          position: absolute;
          left: 40px;
          bottom: 130px;
          width: 440px;
          height: 33px;
          display: table;
        }

        .otContainer {
          position: absolute;
          left: 635px;
          bottom: 135px;
          width: 200px;
        }

        .tidContainer {
          position: absolute;
          left: 1004px;
          bottom: 135px;
          width: 200px;
        }

        .natureContainer {
          position: absolute;
          left: 221px;
          bottom: 93px;
          width: 240px;
        }

        .abilityContainer {
          position: absolute;
          left: 221px;
          bottom: 54px;
          width: 240px;
        }

        .tradeContainer {
          position: absolute;
          left: 510px;
          top: 500px;
          width: 415px;
        }

        .notesContainer {
          position: absolute;
          left: 930px;
          top: 500px;
          width: 320px;
          height: 100px;
        }

        .boxContainer {
          position: absolute;
          left: 930px;
          top: 600px;
          width: 320px;
        }
      }

      // Upper-Mid Size Elements - 960px Image
      @media screen and (min-width:980px) and (max-width:1299px) {
        .pokemonView {
          margin:auto;
          width: 960px;
          height: 421px;
        }
      }

      // Lower-Mid Size Elements - 640px Image
      @media screen and (min-width:660px) and (max-width:979px) {
        .pokemonView {
          margin:auto;
          width: 640px;
          height: 314px;
        }
      }

      // Small Size Elements - 320px Image
      @media screen and (max-width:659px) {
        .pokemonView {
          margin:auto;
          width: 320px;
          height: 157px;
        }
      }
    }

    #sheet-view {
      padding: 10px 40px;

    }

    table {
      $table-cell-border:0;
      border: 4px solid #ccc;
      color: var(--text-table);
      font-weight: bold;
      margin: 10px 0 0 0;
      width: 100%;
      padding: .5em .5em;

      img {
        max-height: 128px;
      }

      .shortrow {
        height: 10px;
      }

      .normalrow {
        height: 75px;
      }

      .verticaltop {
        vertical-align: top;
      }

      .verticalcenter {
        vertical-align: middle;
      }

      .verticalbottom {
        vertical-align: bottom;
      }

      .hyperlinktext {
        color: #dadada;
        text-decoration: underline;
      }

      thead tr th {
        color: var(--text-header);
        text-align: center;
        border-bottom: 2px solid #ccc;
      }

      tr.no-bottom-border th {
        border-bottom: none;
      }

      tbody tr td {
        text-align: center;
        border-bottom: 2px solid #ccc;
      }

      tr.no-bottom-border td {
        border-bottom: none;
      }

      tr:nth-child(4n + 1) {
        background-color: var(--highlight-secondary);
      }
      tr:nth-child(4n + 2) {
        background-color: var(--highlight-secondary);
      }
      tr:nth-child(4n + 3) {
        background-color: var(--highlight-primary);
      }
      tr:nth-child(4n + 4) {
        background-color: var(--highlight-primary);
      }

      td {
        text-align: center;
      }

      .backgroundheader {
        background-color: var(--highlight-header) !important;
      }

      .subheader {
        font-size: x-small;
      }

      .subrow {
        font-size: xx-small;
        text-align: center;
      }
    }
  }

  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    text-align: left;
    color: #676767;
    font-size: 0.85rem;
    transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
  }
}
