@charset "utf-8";

@import '../../node_modules/bulma/bulma';

// Small Size Elements - 320px Image
@media screen and (max-width: 659px) {
  body {
    h1 {
      font-size: 16px;
    }

    h2 {
      font-size: 10px;
    }

    #customheader {
      .navbar {
        .navbar-item {
          font-size: x-small;
        }
      }
    }

    #main-section {
      #home-view {
        img {
          width: 125px;
          border: 2px solid var(--navbar-background);
        }

        .textDiv {
          font-size: xx-small;
        }
      }

      #sheet-view {
        padding: 2.5px 10px;

        h2 {
          font-size: .6em;
        }

        .filter-container {
          flex-direction: column;

          .p-buttonset {
            width: 100%;
          }

          .buttonFilter {
            font-size: .6em;
            width: 4em;
            height: 2em;

            outline-width: 1px;
          }
        }
      }

      #detail-view {
        .pokemonView {
          background-size: 320px;
          width: 320px;
          height: 157px;
        }

        h1 {
          font-size: 7px;
        }

        h2 {
          font-size: 6px;
          font-weight: 400;
        }

        h3 {
          font-size: 5px;
          font-weight: bold;
        }

        h4 {
          font-size: 7px;
          text-shadow:
            0 0 2px #fff,
            0 0 2px #fff;
        }

        h5 {
          font-size: 4px;
        }

        h6 {
          font-size: 3px;
          font-weight: bold;
        }

        p {
          font-size: 2px;
        }

        .eventData {
          font-size: 5px;
          font-weight: bold;
        }

        .tradeHistoryData {
          font-size: 4px;
        }

        .prevContainer {
          left: 15px;
          top: 2px;
          width: 33px;
          height: 13px;

          img {
            width: 12px;
            height: 12px;
          }
        }

        .ballContainer {
          left: 60px;
          top: 2px;
          width: 12px;
          height: 12px;
        }

        .headNameContainer {
          left: 73px;
          top: 2px;
          width: 105px;
          height: 12px;
        }

        .levelContainer {
          left: 183px;
          top: 2px;
          width: 25px;
          height: 12px;
        }

        .isGigContainer {
          right: 73px;
          top: 3px;
          width: 10px;
          height: 10px;
        }

        .isShinyContainer {
          right: 60px;
          top: 3px;
          width: 10px;
          height: 10px;
        }

        .nextContainer {
          right: 15px;
          top: 2px;
          width: 33px;
          height: 13px;

          img {
            right: 0px;
            width: 12px;
            height: 12px;
          }
        }

        .eventContainer {
          left: 70px;
          top: 17px;
          width: 200px;
          height: 10px;
        }

        .langContainer {
          left: 10px;
          top: 25px;
          width: 20px;
        }

        .hpContainer {
          left: 61px;
          top: 31px;
          width: 8px;
        }
        .sAContainer {
          left: 20px;
          top: 53px;
          width: 8px;
        }
        .atContainer {
          left: 102px;
          top: 53px;
          width: 8px;
        }
        .sDContainer {
          left: 20px;
          top: 92px;
          width: 8px;
        }
        .deContainer {
          left: 102px;
          top: 92px;
          width: 8px;
        }
        .spContainer {
          left: 61px;
          top: 100px;
          width: 8px;
        }

        .dexContainer {
          left: 144px;
          top: 29px;
          width: 15px;
        }

        .nameContainer {
          left: 159px;
          top: 29px;
          width: 45px;
        }

        .typeContainer {
          left: 204px;
          top: 30px;
          width: 16px;
          height: 8px;

          .typeIterator {
            width: 8px;
            height: 8px;

            .typeImg {
              height: 7px;
              max-width: 7px;
            }
          }
        }

        .move1Container {
          left: 138px;
          top: 44px;
          width: 80px;
          height: 13px;
        }
        .move2Container {
          left: 138px;
          top: 58px;
          width: 80px;
          height: 13px;
        }
        .move3Container {
          left: 138px;
          top: 73px;
          width: 80px;
          height: 13px;
        }
        .move4Container {
          left: 138px;
          top: 87px;
          width: 80px;
          height: 13px;
        }

        .moveImgContainer {
          width: 12px;
        }

        .moveImg {
          height: 11px;
          max-width: 11px;
        }

        .spriteContainer {
          left: 228px;
          bottom: 55px;
          width: 80px;
          height: 80px;
        }

        .redditContainer {
          visibility: hidden;
          left: 10px;
          bottom: 33px;
          width: 110px;
          height: 9px;
        }

        .otContainer {
          left: 159px;
          bottom: 34px;
          width: 50px;
        }

        .tidContainer {
          left: 251px;
          bottom: 34px;
          width: 50px;
        }

        .natureContainer {
          left: 56px;
          bottom: 24px;
          width: 60px;
        }

        .abilityContainer {
          left: 56px;
          bottom: 14px;
          width: 60px;
        }

        .tradeContainer {
          left: 128px;
          top: 125px;
          width: 104px;
        }

        .notesContainer {
          left: 233px;
          top: 125px;
          width: 80px;
          height: 25px;
        }

        .boxContainer {
          left: 233px;
          top: 150px;
          width: 80px;
        }
      }

      table {
        img {
          max-height: 32px;
        }

        .shortrow {
          height: 5px;
        }

        .normalrow {
          height: 13px;
        }

        .ballCell {
          img {
            width: 15px;
            height: 15px;
          }
        }

        .tagCell {
          width: 15px;
          img {
            width: 12px;
            height: 12px;
          }
        }

        thead tr th {
          font-size: x-small;
        }

        tbody tr td {
          font-size: x-small;
          min-width: 40px;
        }
      }
    }
  }
}
